body {
	background-color: #4C4053
}
h1 {
	color: #FF6B6B;
	text-align: center;
	border-bottom: 2px white dashed;
}

h2 {
	color:white;
}

ol {
	color: white;
	border: 3px #4ECDC4 solid;
}

.orange {
	color: #ED8F1F;
}

img	{
	border: 3px white solid;
}